.aside {
	height: 400px;
	width: 100px;
	background: yellow;
	float: left;
}
.slidebar {
	height: 400px;
	width: 100px;
	background: yellow;
	float:right;
}
.main{
	height: 500px;
	margin-left: 110px;
	margin-right:110px;
	background: blue;
}
.footer{
	background: #ccc;
}
.content:after{
	content: "";
	display: block;
	clear: both;
}