.aside{
	height: 500px;
	width: 200px;
	float: left;	
	background: yellow;
}
.main {
	height: 400px;
	background: blue;
}
.footer{
	background: #ccc;
}
.content:after{
	content: "";
	display: block;
	clear: both;
}