.layout {
	width: 600px;
	margin: 0 auto;
}
.layout>div {
    margin-top: 30px;
}
.h-card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.h-card>img {
    width: 100%;
    opacity: 0.75;
}
.h-card .detail {
    padding: 1px 16px;
}
.h-card .detail h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.h-card .detail p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.h-card .text-center {
    text-align: center;
}