html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font: 14px/1.8 Arial;
    color: #333;
    background: #ccc;
}

#page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 45px;
    background: #fff;
}

#page::after {
    display: block;
    clear: both;
    content: '';
}

section {
    margin-top: 30px;
}

section::after {
    display: block;
    clear: both;
    content: '';
}

section h2 {
    font-size: 18px;
    width: 40%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

section > ul > li {
    position: relative;
    padding-bottom: 10px;
    padding-left: 70px;
    border-left: 2px solid #333;
}

section > ul > li::before {
    position: absolute;
    top: 0;
    left: -6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background: #333;
}

section h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 8px;
}

section h3 span {
    color: #ccc;
}

.personal .name {
    float: left;
    width: 40%;
}

.personal .contact {
    float: left;
    width: 60%;
}

.personal .circle {
    font-size: 30px;
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    color: #fff;
    border-radius: 50%;
    background: #000;
}

.personal .circle span:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 30px;
}

.personal .circle span:nth-child(2) {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.personal .circle::before {
    position: absolute;
    top: 72px;
    left: 22px;
    display: inline-block;
    width: 100px;
    content: '';
    transform: rotateZ(130deg);
    border-top: 2px solid #fff;
}

.personal h1 {
    font-size: 40px;
    margin-left: 195px;
}

.personal p {
    font-size: 20px;
    margin-left: 185px;
}

.personal .contact h2 {
    width: auto;
    border-bottom: 4px solid #333;
}

.activity {
    float: left;
    width: 40%;
}

.skills {
    margin-left: 500px;
}

.activity h2,
.skills h2 {
    width: auto;
}

.activity > ul > li {
    border-left: none;
}

.activity > ul > li::before {
    position: absolute;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.activity > ul > li::after {
    font-size: 18px;
    position: absolute;
    top: -4px;
    left: 7px;
    display: inline-block;
    content: '+';
}

.skills table {
    width: 100%;
}

.skills table td {
    position: relative;
    padding-bottom: 15px;
    padding-left: 40px;
}

.skills table td::before {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

.skills table td::after {
    font-size: 18px;
    position: absolute;
    top: -2px;
    left: 6px;
    display: inline-block;
    content: '+';
}
